<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834487695752-ki3g3104r6pg6jpiend7tn37ebcrd0a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834487695752-ki3g3104r6pg6jpiend7tn37ebcrd0a5</string>
	<key>API_KEY</key>
	<string>AIzaSyDgnu146j4NET961ZmV07af4A2FEdmSAXw</string>
	<key>GCM_SENDER_ID</key>
	<string>834487695752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolgaaygun.FoursquareClone</string>
	<key>PROJECT_ID</key>
	<string>foursquareclone-29b0c</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquareclone-29b0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834487695752:ios:91977715e9737212cba23d</string>
</dict>
</plist>